<div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div>
                    <label for="inputFirstname" class="form-label">Вашето име</label>
                    <input type="text" class="form-control" name="your_name" placeholder="Иван Иванов"
                           aria-label="First name">
                </div>
                <div class="pt-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email"
                           placeholder="name@example.com">
                </div>
                <div class="pt-3">
                    <label for="formGroupExampleInput" class="form-label">Телефонен номер</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+359</span>
                        <input type="tel" class="form-control" id="formGroupExampleInput" name="phone_number"
                               placeholder="Пример: 87 888 7072">
                    </div>
                </div>
            </div>
            <div class="col">
                <label>Въпрос или коментар</label>
                <div class="pt-2 form-floating">
                    <textarea class="form-control" name="comment" placeholder="Leave a comment here"
                              id="floatingTextarea2" style="height: 210px"></textarea>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Изпращане</button>
        </div>
    </form>
</div>